@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
*{
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-size: 14px;
    font-family: "Golos Text", sans-serif !important;
}

body{
    min-height: 100vh;
}

.wrapper{
    max-width: 980px;
    margin:auto;
}

@media screen and (max-width: 980px) {
    .wrapper{
        max-width: 768px;
    }    
    
}

@media screen and (max-width: 768px) {
    .wrapper{
        max-width: 670px;
    }
}
@media screen and (max-width: 670px) {
    .wrapper{
        max-width: 540px;   
    }
}

@media screen and (max-width: 540px) {
    .wrapper{
        padding:0px 10px 0px 10px;
    }
}


