.buttons_wrap{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
   
  
}

.primary_btn{
    width: 172px;
}
.transparent_btn{
    width:129px;
}


@media screen and (max-width: 540px){
    .buttons_wrap{
        flex-direction: column;
        gap: 12px;
        justify-content:center;
        align-items: center;
    }
    .primary_btn{
        width: 100%;
    }
    .transparent_btn{
        width: 100%;
    }
    
}