.accardion_container {
    margin-bottom: 100px;
}


.accardion_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px 24px 20px;
    background: #F5F5F5;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    cursor: pointer;
    height: 72px;


}

.header_span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #171717;

}

.accardion_img {
    width: 24px;
    height: 24px;
    transform: rotate(-0deg);
    transition: all 0.3s linear;
}

.accardion_img_active{
    transform: rotate(-180deg);
    transition: all 0.3s linear;
}

.accardion_content {
    height: 0;  
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    transition: all 0.3s;
    overflow: hidden;
}

.active {
    height: 144px;  
    padding: 24px 20px 24px 20px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    transition: all 0.3s;
    
}

@media screen and (max-width: 540px) {
    .active{
        height: 168px;
    }
}
