.humo_btn{
    width: fit-content;
    height: 48px;
    padding: 12px 20px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width:540px) {
    .humo_btn{
        width: 100%;
        height: 48px;
    }
    
}